<html>
  <head>
    <title>Hello, World! Argon + A-Frame</title>
  	<meta name="keywords" content="argon, aframe, augmented reality, web, javascript">
    <meta name="description" content="Hello, World! Argon + A-Frame">
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>    
    <script src="https://rawgit.com/argonjs/argon/develop/dist/argon.js"></script>
    <script src="https://rawgit.com/argonjs/argon-aframe/develop/dist/argon-aframe.js"></script>
    <script src="https://samples-develop.argonjs.io/resources/lib/CSS3DArgonRenderer.js"></script>
    <script src="https://samples-develop.argonjs.io/resources/lib/CSS3DArgonHUD.js"></script>
    <script src="https://aframe.argonjs.io/resources/js/aframe-look-at-component.js"></script>
	  <link rel="stylesheet" type="text/css" href="style.css">

    <script>
      function getRandColor () {
          let letters = '0123456789ABCDEF'.split('');
          let color = '#';
          for (let i = 0; i < 6; i++) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
      }

      // Component to change to random color on click.
      AFRAME.registerComponent('cursor-listener', {
        init: function () {
          this.el.addEventListener('click', function (evt) {
            this.setAttribute('material', 'color', getRandColor());
            console.log('I was clicked at: ', evt.detail.intersection.point);
          });
          this.el.addEventListener('mouseenter', function (evt) {
            this.setAttribute('material', 'opacity', 0.5);
          });
          this.el.addEventListener('mouseleave', function (evt) {
            this.setAttribute('material', 'opacity', 1.0);
          });
        }
      });
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io.connect();
      socket.on('color change', (entityId, color) => {
        if (entityId === 'all') {
          let entities = document.querySelectorAll('[cursor-listener]');
          for (let entity of entities) {
            entity.setAttribute('material', 'color', '#' + color);
          }
        } else {
          let entity = document.querySelector(`#${entityId}`);
          if (entity) {
            entity.setAttribute('material', 'color', '#' + color);
          } else {
            console.log(`There is no entity with id: ${entity}`)
          }
        }
      });

      socket.on('size change', (entityId, sizes) => {
        let entity = document.querySelector(`#${entityId}`);
        if (entity) {
          if (sizes.all === "+") {
            sizes.height = "+";
            sizes.width = "+";
            sizes.depth = "+";
            sizes.radius = "+";
          }
          if (sizes.all === "-") {
            sizes.height = "-";
            sizes.width = "-";
            sizes.depth = "-";
            sizes.radius = "-";
          }
          if (sizes.height) { 
            if (sizes.height === "+") {
              let currentSize = parseFloat(entity.getAttribute('geometry').height);
              sizes.height = currentSize + 0.5;
            } else if (sizes.height === "-") {
              let currentSize = parseFloat(entity.getAttribute('geometry').height);
              sizes.height = currentSize - 0.5;
            }
            entity.setAttribute('geometry', 'height', sizes.height);
          }
          if (sizes.width) { 
            if (sizes.width === "+") {
              let currentSize = parseFloat(entity.getAttribute('geometry').width);
              sizes.width = currentSize + 0.5;
            } else if (sizes.width === "-") {
              let currentSize = parseFloat(entity.getAttribute('geometry').width);
              sizes.width = currentSize - 0.5;
            }
            entity.setAttribute('geometry', 'width', sizes.width);
          }
          if (sizes.depth) { 
            if (sizes.depth === "+") {
              let currentSize = parseFloat(entity.getAttribute('geometry').depth);
              sizes.depth = currentSize + 0.5;
            } if (sizes.depth === "-") {
              let currentSize = parseFloat(entity.getAttribute('geometry').depth);
              sizes.depth = currentSize - 0.5;
            }
            entity.setAttribute('geometry', 'depth', sizes.depth);
          }
          if (sizes.radius) { 
            if (sizes.radius === "+") {
              let currentSize = parseFloat(entity.getAttribute('geometry').radius);
              sizes.radius = currentSize + 0.5;
            } else if (sizes.radius === "-") {
              let currentSize = parseFloat(entity.getAttribute('geometry').radius);
              sizes.radius = currentSize - 0.5;
            }
            entity.setAttribute('geometry', 'radius', sizes.radius);
          }
        }
      });

      socket.on('position change', (entityId, position) => {
        let entity = document.querySelector(`#${entityId}`);
        if (entity) {
          entity.setAttribute('position', position);
        }
      });

      socket.on('entity add', (entityData) => {
        let entity = document.createElement(`a-${entityData.type}`);
        if (entityData.id) { entity.setAttribute('id', entityData.id); }
        entity.setAttribute('position', entityData.position || '0 0 0');
        if (entityData.cursorListener) { entity.setAttribute('cursor-listener', null); }
        if (entityData.color) { entity.setAttribute('color', entityData.color); }
        
        let sizes = entityData.sizes;
        if (sizes.height) { entity.setAttribute('geometry', 'height', sizes.height); }
        if (sizes.width)  { entity.setAttribute('geometry', 'width',  sizes.width ); }
        if (sizes.depth)  { entity.setAttribute('geometry', 'depth',  sizes.depth ); }
        if (sizes.radius) { entity.setAttribute('geometry', 'radius', sizes.radius); }

        document.querySelector('a-entity').appendChild(entity);
      });

      let stopRequests = [];

      socket.on('spin start', (entityId, axis, speed) => {
        if (entityId === 'all') {
          let entities = document.querySelectorAll('[cursor-listener]');
          for (let entity of entities) {
            startSpin(entity.id, axis, speed);
          }
        } else {
          startSpin(entityId, axis, speed);
        }
      });

      function startSpin(entityId, axis, speed) {
        axis = axis || 'x';
        speed = speed || 0.8;
        let entity = document.querySelector(`#${entityId}`);
        if (entity) {
          let endTime = Date.now + 30000;
          let currentRotation = entity.getAttribute('rotation');
          console.log(currentRotation);

          let spinAnimation = setInterval(frame, 5);
          function frame() {
            if (Date.now >= endTime || stopRequests.find(x => x === entityId)) {
                clearInterval(spinAnimation);
            } else {
              currentRotation = entity.getAttribute('rotation');
              currentRotation[axis] += speed;
              entity.setAttribute('rotation', currentRotation);
            }
          }
        }
      }

      socket.on('spin stop', (entityId) => {
        if (entityId === 'all') {
          let entities = document.querySelectorAll('[cursor-listener]');
          for (let entity of entities) {
            stopSpin(entity.id);
          }
        } else {
          stopSpin(entityId)
        }
      });

      function stopSpin(entityId) {
        stopRequests.push(entityId);
        setTimeout(function() {
          stopRequests = stopRequests.filter(x => x !== entityId);
        }, 1000);
      }

    </script>
  </head>
  <body>
    <div hidden>
      <div id="mydiv" class="boxface">Argon<br>+<br>AFrame</div>
      <div id="mydiv2" class="boxface">WebGL<br>+<br>CSS</div>
    </div>
    <ar-scene>
      <a-entity id="helloworld" position="0 -1 -8">
        <a-sphere id="sphere" position="0 1.25 -1" cursor-listener radius="1.25" color="#EF2D5E" ></a-sphere>
        <a-box id="cube" position="-1 0.5 1" cursor-listener rotation="0 45 0" width="1" height="1" depth="1"  color="#4CC3D9" ></a-box>
        <a-cylinder id="cylinder" position="1 0.75 1" cursor-listener radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
      </a-entity>

      <ar-camera>
        <a-entity id="myCursor" cursor="fuse:true; fuse-timeout: 1000"
                    position="0 0 -0.1"
                    geometry="primitive:ring; radiusInner: 0.001; radiusOuter: 0.0015"
                    material="color: #2E3A87; opacity:0.3;">          
        </a-entity>
      </ar-camera>
    </ar-scene>
    <script>

      let arScene = document.querySelector('ar-scene');
      let content = document.querySelector('#helloworld');

      // the ar-camera has an argon reference frame attached, so when it gets it's first value,
      // we'll get this event 
      arScene.addEventListener("referenceframe-statuschanged", function () {
        let camera = document.querySelector('ar-camera');
        let vec = camera.object3D.getWorldDirection();
        vec.multiplyScalar(-10);
        vec.y -= 1;
        content.setAttribute("position", {x: vec.x, y: vec.y, z: vec.z});
      })
    </script>
  </body>
</html>

